flask==2.3.3
jinja2==3.1.2
werkzeug==2.3.7
python-dotenv==1.0.0
pillow==9.5.0  # Para procesamiento de imágenes
PyPDF2==3.0.1  # Para leer archivos PDF
pdf2image==1.16.3  # Para convertir PDF a imágenes
gunicorn==21.2.0  # Para producción
flask-login==0.6.2  # Para autenticación
flask-sqlalchemy==3.0.5  # Para base de datos
flask-bcrypt==1.0.1  # Para encriptar contraseñas
